---
title: Bella
date: 2016/08/25
category: pas
blog: udomi
thumbnail: /images/bella/1.jpg
kastracija: true
starost: 13 god.
friendliness: true
spol: ž
---
![Bella](/images/bella/2.jpg)

### Upoznaj Bellu

*Proći će polako, s noge na nogu  i s očima što dugo već gledaju svijet nanovo mu dati boju. Poput dame nikada jasno neće reći svoju nakanu a onaj pravi između redaka znati će vidjeti kako srcu njenom fali zauvijek dom.*

U manjim ruralnim sredinama koje okružuju gradove nažalost nije tako neobično vidjeti pse koji šeću, ili lutaju, nekad je teško odrediti. No jedna se lutajuća kujica izdvajala od drugih pasa. Naime, bila je stara, bolesna i gladna. Prestara za to da sama luta vani na hladnoći i studenom vjetru koji nagovješta zimu. Preuzeli smo ju i odveli veterinaru. Prvo je iznenađenje bilo da je čipirana. Sirotica se zove Bella. Drugo iznenađenje bile su njezine godine; Bellina je u trenutku pronalaska imala 12 godina. Treće je iznenađenje, i to vrlo neugodno, bilo njezino zdravstveno stanje - uz pothlađenost i pothranjenost, krvna slika je bila loša, kao i jetra i bubrezi, šećer je bio vrlo visok, a činilo se i da je nedavno imala štence! Njezino tijelo nam je reklo da je čitav život jela gotovo isključivo ostatke ljudske hrane.

To je samo potvrdilo našu odluku da joj pokušamo naći sretniji dom. Kontaktirali smo vlasnika koji je se bezbrižno odrekao, uz riječi; "Oh, našli ste ju? Mislio sam da je mrtva. Ona vam neće još dugo, ali uzmite ju ako želite." No unatoč svemu, Bella je još uvijek s nama. Njezin oporavak je trajao nekoliko mjeseci - uslijedile su terapije, posebna prehrana te sterilizacija kako bi se uklonili iznimno policistični jajnici koji su joj stvarali probleme. Njezino je stanje sada pod kontrolom, već neko vrijeme jede "običnu" kvalitetniju hranu, a krvna slika i šećer su uredni. No ono što je još važnije od toga... Od prvog dana, Bella se uvukla pod kožu svakome tko ju je upoznao. Iako ju život nije mazio, Bella je nježna, mazna, strpljiva za sve preglede, dobro se slaže s drugim psima, a voli i mace, naročito mačiće! Voli šetnje u prirodi i obožava vodu, kupanje u potocima, jarunskom jezeru ili čak povećim lokvama joj je omiljena razonoda! Također obožava hranu, jede sve što se može pojesti i vrlo je spretna u krađi hrane iz ormarića i sličnih, tobože teško dostupnih mjesta. Svi uživamo u njezinim sitnim nepodopštinama i neodoljivom šarmu kojim zrači. Bella ne traži puno; samo malo lagane šetnje i maženja.

Ne odgovaraju joj jedino stepenice, budući da joj je teško hodati njima. Sterilizirana je, čipirana, cijepljena i sada ima 13 godina. Tražimo joj obitelj, koja idealno već ima jednog psa, koja će joj pružiti dostojanstvenu i sretnu starost kakvu i zaslužuje. Znamo da neće živjeti vječno, znamo i da možda neće živjeti još dugo, ali dok u njoj tinja iskra i volja za životom, ne odustajemo od potrage za njezinom domom, domom koji će biti kraj jednog teškog, ali ipak vrijednog životnog puta.

### Pogledaj galeriju slika Belle

<div class="orbit" role="region" aria-label="Bella" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/bella/3.jpg" alt="Bella">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/bella/4.jpg" alt="Bella">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/bella/5.jpg" alt="Bella">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Bellu</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Bellu!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
