---
title: Boni
date: 2016/08/26
category: pas
blog: udomi
thumbnail: /images/boni/1.jpg
kastracija: false
starost: 1 god.
friendliness: true
spol: m
---
![Boni](/images/boni/2.jpg)

### Upoznaj Bonija

*Ako nikad ne spoznate ljubav kakvu može pružiti pas, propustit ćete jednu od najboljih stvari koje vam se mogu dogoditi u životu. Bonijevu ljubav su jednom propustili upoznati, no on je spreman dati ju pravoj osobi!*

Bonijeva priča je ona kakva nas najviše pogodi. Nađen je ostavljen u šumi s braćom i sestrama. Udomili smo ga kao štene... I nekoliko mjeseci kasnije postao je višak u svojoj obitelji. Životne okolnosti se uvijek mogu promijeniti, samo nam je istinski žao kada se pas ne uspije uklopiti u te promjene.

Boni je mladi veseljak, naučen na druge pse, ali na mace voli lajati. Nježan je i mazan, a njegov specifičan izgled ga čini manekenom pseće vrste. Voli igru i pseće igračke, šetnje, maženje, a kao i svaki pas, najviše voli poslastice! Traži novi dom u kojem će biti voljen, mažen i pažen, te u kojem će ostati bez obzira na sve.

### Pogledaj galeriju slika Bonija

<div class="orbit" role="region" aria-label="Boni" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/boni/3.jpg" alt="Boni">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Bonija</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Bonija!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
