---
title: Buffy
date: 2016/08/26
category: mačka
blog: udomi
thumbnail: /images/buffy/1.jpg
kastracija: false
starost: 4 mj.
friendliness: true
spol: ž
---
![Buffy](/images/buffy/2.jpg)

### Upoznaj Buffy

*Ne znam zbog čega bi itko takvu ljepotu shvaćao kao nesreću. U svakoj crnoj mački krije se duh njezine rođakinje pantere - gracioznost džungle koju možete imati sklupčanu u dnu vlastitog kreveta.*

Krajem svibnja smo primili očajan poziv jedne naše udomiteljice; svoje zgrade je pronašla tri napuštena mačića od svega mjesec dana. Nije ih mogla zadržati dulje od nekoliko dana zbog poslovnog puta. Srećom, malene smo uspjeli privremeno smjestiti zahvaljujući novoj čuvalici koja ih je primila k sebi. Jedan je ostao kod naše udomiteljice kao drugi udomljeni mačić, a dvojac je smješten na čuvanje. Braco i seka su dobili imena, Angel i Buffy, te su polako i sretno rasli u svom privremenom domu. Angel je pronašao svoju novu obitelj, a Buffy ju još uvijek čeka.

Buffy je zdrava i vesela mlada mačka mlada četiri mjeseca. Naučena je na život u stanu i suživot s drugim macama i psima, cijepljena je protiv mačjih zaraznih bolesti i spremna je biti nečija posebna mačka. Iako se dobro slaže s drugim macama, samostalna je, hrabra i samouvjerena te bi se snašla i kao jedina ljubimica u kućanstvu. Iako predrasude prate crne mačke, Buffyina braća su unatoč crnoj boji pronašla sretne domove. Sigurni smo kako je samo pitanje vremena kada će se netko zaljubiti u Buffyine sjajne žute oči, meko crno krzno i vesele šapice koje trčkaraju za igračkama. Ako Vas je Buffy osvojila, javite nam se i dajte joj priliku da i ona osvoji Vas!

### Pogledaj galeriju slika Buffy

<div class="orbit" role="region" aria-label="Kunti" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/buffy/3.jpg" alt="Buffy">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/buffy/4.jpg" alt="Buffy">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Buffy</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Buffy!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
