---
title: Kunti
date: 2016/08/26
category: mačka
blog: udomi
thumbnail: /images/kunti/1.jpg
kastracija: false
starost: 4 mj.
friendliness: true
spol: ž
---
![Kunti](/images/kunti/2.jpg)

### Upoznaj Kunti

*"Želio bih da mogu pisati misteriozno poput mačke." Edgar Allan Poe*

U lipnju ove godine je slučajni prolaznik pronašao malo crno mače u lošem stanju, koje je kihalo, šmrkalo i plakalo. Preuzeli smo ga i veterinarski pregled je pokazao da je u pitanju curica od mjesec i pol dana, te da boluje od rinotraheitisa, virusa koji uzrokuje ozbiljnu prehladu i začepljenje dišnih puteva. Malena je dobila antibiotike, kapi za oči i posebnu hranu, a dobila je i ime - Kunti.

Kroz nekoliko dana je terapija počela djelovati, i za nekoliko tjedana je Kunti bila kao nova. U međuvremenu je promijenila nekoliko privremenih smještaja, gdje je naučila kućni red i kako se živi u stanu, te kako se slagati s drugim macama. Kunti sada ima oko četiri mjeseca, cijepljena je protiv mačjih zaraznih bolesti te je zdravo i veselo mače. Voli igru, maženje i jurcanje po stanu u lovu na mačje igračke. No nažalost, jedna tamna sjena prati Kuntinu priču, a to je boja njezine dlake. Predrasude o crnim životinjama su još uvijek jake i one najteže pronalaze dom. Onaj tko nije imao mačku, ne razumije posebnu ljubav između mace i njezinog čovjeka.

Onaj tko nije imao crnu mačku, ne može pojmiti koliko se ljepote i inteligencije krije iza velike predrasude o nesretnoj crnoj dlaci. Jedino što će vam crna mačka donijeti je - svoju neizmjernu ljubav! Budući da je Kunti u svom kratkom životu bila kod više čuvalica, u više različitih okruženja, nadamo se da će njezina posljednja promjena biti ujedno i njezina posljednja postaja te početak novog života u vlastitom domu!

### Pogledaj galeriju slika Kunti

<div class="orbit" role="region" aria-label="Kunti" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/kunti/3.jpg" alt="Kunti">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/kunti/4.jpg" alt="Kunti">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/kunti/5.jpg" alt="Kunti">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Kunti</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Kunti!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
