---
title: Miyu
date: 2016/08/26
category: mačka
blog: udomi
thumbnail: /images/miyu/1.jpg
kastracija: true
starost: 10 mj.
friendliness: true
spol: ž
---
![Miyu](/images/miyu/2.jpg)

### Upoznaj Miyu

*Miyu: Neobuzdanost vatre, tvrdoglavost vode, sloboda zraka*
*i tlo što ju čini sveprisutnom. Sve je to ona. Iako mlada*
*trudi se da njena priča ne prođe nepročitana. Ona voli cijelim tijelom*
*i nada se istom od svojeg zauvijek doma.*

Nađena je jedne tople lipanjske večeri, kako leži oz ogradu obiteljske kuće. Bila je sitna, mršava i mlada. Prišla je ispruženoj ruci bez razmišljanja, bez straha hoće li ju ta ruka pomaziti ili udariti, hoće li uzeti u naručje i ju ozlijediti. Taj je trenutak bio presudan; volonterka ju je uzela u naručje i odnijela na sigurno. Prvih nekoliko dana je prošlo mirno; malena tigrica je dobila ime Miyu, imala je šugarce u ušima i buhice, a sve ostalo je bilo naizgled u redu. Vanjski pregled kod veterinara nije ukazivao na skotnost, procijenjena joj je starostna manje od godinu dana te smo odlučili pričekati sa sterilizacijom dok se Miyu malo ne oporavi od boravka na ulici, budući da je bila vrlo mršava. A onda je jedan dan počela krvariti ispod repa. Odjurili smo veterinaru te je ostala na hitnoj operaciji - ispostavilo se da je bila u vrlo ranom stadiju skotnosti te da je došlo do spontanog pobačaja, koji je uzrokovao sepsu.

Operacija je bila uspješna, no ostalo je na njoj da se te noći izbori za život. I izborila se. Već nekoliko dana nakon operacije je živnula, počela se igrati i trčkarati po stanu, te se uskoro preobrazila u malog razigranog mačjeg vražička. Miyu je hrabra, otvorena i pristupačna maca koja sa svima želi komunicirati, bilo kroz igru, maženje ili samo zajedničko spavanje. Samostalna je, ali voli i društvo svojih mačjih cimerica s kojima se obožava igrati lovice. A navečer, kada je vrijeme za spavanje i svjetla se ugase, prišulja se na krevet, punom dužinom tijela se smjesti čuvalici uz nogu i prede dok ne zaspi. Sterilizirana je, naučena na život u stanu, kućni red te suživot s macama i psima. Miyu je čuvalicama dala velik dio svoga srca, no čitavo srce će dati svojem čovjeku. Obećajemo mu da neće požaliti odluku da ju uzme u naručje i odnese na sigurno, u zauvijek dom.

### Pogledaj galeriju slika Miyu

<div class="orbit" role="region" aria-label="Miyu" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/miyu/3.jpg" alt="Miyu">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/miyu/4.jpg" alt="Miyu">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/miyu/5.jpg" alt="Miyu">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Miyu</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Miyu!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
