---
title: Pepi
date: 2016/08/26
category: mačka
blog: udomi
thumbnail: /images/pepi/1.jpg
kastracija: false
starost: 4 mj.
friendliness: true
spol: m
---
![Pepi](/images/pepi/2.jpg)

### Upoznaj Pepija

*U trenucima kada je najlakše odustati, ono što nas goni da učinimo suprotno je naša istinska snaga. I kada ostanemo sami u nepoznatom svijetu, ako ne odustanemo, uvijek ćemo pronaći ruku koja će nas odvesti u taj novi svijet. Pepi je možda kućni mačak, ali u njemu tinja snaga tigra.*

U jednoj proljetnoj noći, jednoj od onih kada pljušti kiša i pirka hladan vjetar, jedna je mlada mačja mama očajno prenosila svoje mlade preko parkirališta u potrazi za zaklonom. Mlada mačka nije vjerovala ljudima te je na nalaznicu koja je pokušala pomoći puhala i bježala, štiteći svoje bebe. Nažalost, ne možemo joj zamjeriti nepovjerenje - ljudska bešćutnost je razlog zbog kojeg je donijela mlade u nesigurnosti gradskih ulica.

Spletom okolnosti je jedna beba ostala sama na mokrom betonu, plakala je dozivajući mamu koja nije došla. Nalaznica je čekala u prikrajku, nadajući se da će mama ipak čuti očajan plač svoje izgubljene bebe, no nije došla. Na kraju je sažaljenje prevagnulo te je mačja mrvica uskoro bila u toplom i sigurnom zagrljaju svoje zamjenske mame, gdje je ostala do današnjeg dana.

Mrvica je othranjena na dudu i odrasla je u mladog mačka Pepija. Pepi je šarmantni tigar koji će svakoga osvojiti svojim vedrim karakterom i otvorenošću; odlično se slaže s drugim macama i psima, voli malu djecu, ne boji se novih ljudi, a najviše voli igru i maženje, kao i svako mače od četiri mjeseca. Naučen je na život u stanu te traži dom kao kućni mačak. Nježan je s djecom i malim životinjama, dok je u igri s većim macama nemilosrdno razigran i brz na nožicama! Pepi je spreman biti nečiji kućni tigar.

### Pogledaj galeriju slika Pepija

<div class="orbit" role="region" aria-label="Kunti" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/pepi/3.jpg" alt="Pepi">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/pepi/4.jpg" alt="Pepi">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/pepi/5.jpg" alt="Pepi">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Pepija</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Pepija!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
