---
title: Stribor
date: 2016/08/26
category: pas
blog: udomi
thumbnail: /images/stribor/1.jpg
kastracija: true
starost: 2 god.
friendliness: true
spol: m
---
![Stribor](/images/stribor/2.jpg)

### Upoznaj Stribora

*Stribor je duh šume; on zna sve odgovore, dobar je prema onima koji su dobri, a zao prema onima koji su zli. Naš Stribor je dobar prema svima, toliko dobar da sigurno ne želi zlo čak ni onima koji su bili zli prema njemu. Jer, Stribor zna sve odgovore - pa tako zna i da je za njega počela jedna nova, sretnija priča.*

Nekad nas među elektronskom poštom dočeka e-mail od kojeg nam se presjeku noge, želudac zgrči, a oči zasuze, sve istovremeno. Usred polja, daleko od kuća, na metar i pol lanca bio je vezan prekrasan mladi pas, sa improviziranom kućicom i ostacima pljesnive hrane u starom loncu. A po riječima lokalnog stanovništva, nije bio jedini. Oni prije njega su bili neko vrijeme, u još gorim uvjetima zimi, a onda bi s vremenom nestali i došao bi novi na njihovo mjesto. Nakon dojave smo otišli vidjeti gdje je pas te pokušati saznati tko je vlasnik, no bezuspješno. Pas nas je dočekao veselo mašući repom, mazio se i bio je oduševljen interakcijom s ljudima. Nahranili smo ga i teška srca otišli, smišljajući kako naći vlasnika i riješiti tu tešku situaciju.

Sljedećeg dana, psa više nije bilo. Bili smo očajni, u strahu od toga što mu se moglo dogoditi! No nekoliko dana kasnije dogodilo se novo iznenađenje - pas je doveden u Veterinarsku stanicu Samobor jer je lutao. Odmah smo ga preuzeli i smjestili kod naših divnih čuvalica, koji su bili spremni primiti psa s lanca o kojem ne znamo ništa, niti kako će se ponašati u kući, hoće li se složiti s njihovim psima... No naši su strahovi bili neopravdani.

Nakon kupanja i četkanja, osvanuo je naš novi štićenik, koji je dobio ime Stribor. Unutarnja ljepota kojom nas je osvojio kad smo ga tek upoznali prljavog i zapuštenog je zabljesnula i izvana. Stribor sada ima oko dvije godine, cijepljen je, čipiran, kastriran i očišćen od parazita. Gotovo neprestano maše repom, voli ljude, i od prvog trenutka pokazuje koliko je zahvalan na drugoj prilici za boljim životom. Na čuvanju je već neko vrijeme i osvojio je srca svojih čuvalica, a svojim šarmom obara s nogu sve koji ga upoznaju. Pomalo je posesivan prema psima s kojima je na čuvanju, dok na nepoznate pse ponekad na prvu reagira obrambeno. Stribor čuva svoj čopor! Tražimo mu dom u kojem će biti voljeni član obitelji. Dobro funkcionira s drugim psima, ali i kada je sam. Voli maženje, loptice i kupanje u moru, dobro podnosi vožnju autom i voli duge šetnje šumom. Stribor je idealan pas i nadamo se da će ga njegov suđeni čovjek uskoro pronaći. Ako mislite da ste to vi, javite nam se!

### Pogledaj galeriju slika Stribora

<div class="orbit" role="region" aria-label="Stribot" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/images/stribor/3.jpg" alt="Stribor">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/stribor/4.jpg" alt="Stribor">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/stribor/5.jpg" alt="Stribor">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/stribor/6.jpg" alt="Stribor">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/images/stribor/7.jpg" alt="Stribor">
    </li>
  </ul>
</div>

<a class="large expanded button" data-open="udomi-forma">Želim udomiti Stribora</a>

<div class="reveal text-center" id="udomi-forma" data-reveal>
  <h3>Drago nam je da želiš Stribora!</h3>
  <p>
    Pošalji nam svoj kontakt broj pa ćemo ti se javiti.
  </p>
  <form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Ime
        <input type="text" placeholder="" name="Ime" required>
      </label>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Broj telefona
        <input type="text" placeholder="" name="Telefon" required pattern="number">
      </label>
    </div>
  </div>
  <div class="small-12 columns">
    <input type="text" value="<%= current_page.data.title %>" name="Želim udomiti" style="display: none;">
    <input class="expanded button" type="submit" value="Send">
  </div>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>Ups, nešto nije dobro s imenom ili brojem, probaj bez razmaka/crtice i sl.</p>
  </div>
</form>
</div>
