$orbit-caption-background: rgba(255, 255, 255, 0.91);
$orbit-bullet-diameter: .5rem;

$button-radius: 3px;

$thumbnail-border: none;
$thumbnail-shadow: none;

@import "foundation";
@import "motion-ui/motion-ui";
@import "bourbon/bourbon";

///
/// General
///

p {
  color: #404040;
}

.button {
  text-transform: uppercase;
  font-weight: 400;
}

.monospace {
  font-family: 'Inconsolata', monospace;
  background: #f3f3f3;
  padding: .1em .2em;
}

///
/// Header
///

header {
  margin: 1em auto;

  h1 {
    text-transform: uppercase;
    font-size: rem(16);
    padding: .5em 0 0 0;
    margin: 0;
    font-weight: 200;
    display: block;

    @include breakpoint(medium) {
      font-size: rem(25);
      padding: 0;
    }
  }

  .city {
    font-weight: 700;
    display: block;
  }

  .logo {
    @include breakpoint(medium) {
      float: left;
    }
  }

  .text-center {
    @include breakpoint(medium) {
      text-align: left;
    }
  }
}

///
/// Homepage
///

.homepage {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    font-size: rem(16);

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }

  .orbit {
    margin-bottom: 1em;

    @include breakpoint(medium) {
      margin-bottom: 3em;
    }

    .orbit-caption {
      text-align: center;

      .button {
        margin: 0 0 .1em 0;
        font-size: rem(16);
        padding: .4em .4em .3em .4em;
      }

      @include breakpoint(medium) {
        font-size: rem(25);
        font-weight: 200;
        padding-bottom: 1em;
        padding-top: 1em;

        .button {
          margin: 0 0 .3em 0;
          font-size: rem(16);
          padding: .4em .4em .3em .4em;
        }
      }
    }
  }
}

///
/// O nama
///

.o-nama {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }
}


///
/// Udomi
///

.udomi {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }

  .mix {
    display: none;
  }

  .item {
    border: 1px solid #b8d9ef;
    border-radius: 3px;

    &:hover {
      border: 1px solid $primary-color;
    }
  }

  .thumbnail {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }

  .ime {
    font-size: rem(25);
    line-height: 28px;
    display: block;
    margin-top: .6em;
    margin-bottom: .6em;
    color: black;
  }

  .kastracija {
    display: block;
    padding: .5em 1em;
    border-top: 1px solid #b8d9ef;
    border-bottom: 1px solid #b8d9ef;
    color: $primary-color;
  }

  .starost {
    display: block;
    padding: .5em 1em;
    color: $primary-color;
  }

  .friendliness {
    display: block;
    padding: .5em 1em;
    border-bottom: 1px solid #b8d9ef;
    color: $primary-color;
  }

  .fa-check {
    color: $primary-color;
    float: right;
    margin-top: .3em;
  }

  .fa-times {
    color: $primary-color;
    float: right;
    margin-top: .3em;
  }

  .bottom-margin {
    margin-bottom: 1em;
  }

  .active {
    background: #1583cc;
  }

  .button-group {
    margin-bottom: 1em;
    margin-top: 1em;

    @include breakpoint(medium) {
      margin-bottom: 3em;
      margin-top: 3em;
    }
  }
}


///
/// Kontakt
///

.kontakt {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }
}


///
/// Blog
///

.blog {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }

  .kategorije {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      h5 {
        text-transform: uppercase;
        margin-top: 1.2em;
      }

      ul {
        li {
          padding-left: 1em;
          padding-bottom: .4em;
          padding-top: .4em;
          border-bottom: 1px solid $light-gray;

          &:hover {
            border-bottom: 1px solid $primary-color;
          }
        }
      }
    }
  }

  article {
    margin-bottom: 1em;
    border: 1px solid $light-gray;
    border-radius: 3px;

    @include breakpoint(medium) {
      margin-bottom: 2em;
    }

    .blog-info {
      padding: 1em;

      time {
        display: block;
      }

      .author {
        display: block;
      }
    }

    &:hover {
      border: 1px solid $primary-color;
    }
  }
}



///
/// Article
///

.article {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    padding: 1.3em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    .meta {
      color: #dadada;

      time {
        display: inline-block;
        color: #929292;
      }

      .author {
        display: inline-block;
        color: #929292;
      }
    }

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }

  

  img {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}



///
/// Udomi Single
///

.udomi-single {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    padding: 1.3em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }

  

  img {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


///
/// Doniraj
///

.doniraj {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 4em;
  }

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: rem(20);
    margin: 0;
    letter-spacing: rem(5);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  h3 {
    font-weight: 200;

    @include breakpoint(medium) {
      font-size: rem(35);
    }
  }

  .title {
    margin-bottom: 1em;
    background: #f9f9f9;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

    @include breakpoint(medium) {
      margin-bottom: 4em;
    }
  }
}

///
/// Footer
///

footer {
  height: 10rem;
}
