<div class="row">
  <div class="columns">
    <footer>
      <p class="text-center">
        Copyright (c) 2016 Copyright Udruga Rea All Rights Reserved.
        <small class="text-center">Developed by <a href="http://antonijapek.com">Antonija Pek</a></small>
      </p>
    </footer>
  </div>
</div>
