<header>
  <div class="row align-middle align-justify">
    <div class="columns">
      <div class="row align-middle align-center logo">
        <div class="shrink columns">
          <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
        <div class="shrink columns text-center">
          <h1>Udruga Rea</h1>
          <span class="city">Samobor</span>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="row">
        <div class="small-12 columns">

            <ul class="vertical medium-horizontal menu align-right">
              <li><a href="/o-nama/">O nama</a></li>
              <li><a href="/udomi/">Udomi</a></li>
              <li><a href="/kontakt/">Kontakt</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/doniraj/" class="hollow button">Doniraj</a></li>
            </ul>

        </div>
      </div>
    </div>
  </div>
</header>
