---
title: Homepage
---
<section class="homepage">
	<div class="row">
		<div class="columns">
			<div class="orbit" role="region" data-orbit>
				<ul class="orbit-container">
					<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
					<button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
					<li class="is-active orbit-slide">
						<img class="orbit-image" src="/images/1.jpg" alt="Tko smo mi?">
						<figcaption class="orbit-caption">Tko smo mi? <a href="/o-nama/" class="button">Upoznaj nas</a></figcaption>
					</li>
					<li class="orbit-slide">
						<img class="orbit-image" src="/images/2.jpg" alt="Doniraj!">
						<figcaption class="orbit-caption">Podrži nas i <a href="/doniraj/" class="button">Doniraj</a></figcaption>
					</li>
					<li class="orbit-slide">
						<img class="orbit-image" src="/images/3.jpg" alt="Udomi">
						<figcaption class="orbit-caption">Naši peseki i mace traže dom. <a href="/udomi/" class="button">Udomi</a></figcaption>
					</li>
				</ul>
				<nav class="orbit-bullets">
					<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
					<button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
					<button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
				</nav>
			</div>
		</div>
	</div>

	<div class="row spacer">
		<div class="columns">
			<div class="success callout">
				<h2>Postani čuvalica</h2>
				<p>
					Budući da udruga nema sklonište niti azil, naše su mogućnosti primanja novih štićenika na skrb uvijek ograničene te ovisimo o čuvalicama. Tko su čuvalice? To su naši heroji. Biti čuvalica je nesebično, plemenito i ponekad izazovno, ali uvijek se isplati vratiti vjeru u ljude jednom napuštenom biću. Privremeni smještaj u kući ili stanu je važan proces socijalizacije napuštene životinje, dio prilagodbe na suživot s ljudima i eventualno drugim životinjama. Udruga osigurava sve što je potrebno za našeg štićenika. U dogovoru s čuvalicom organiziramo prijevoz i odlazak veterinaru po potrebi.
				</p>
				<p>
					Na raspologanju smo bilo kada kako bi pomogli ili dali savjet, te zajedničkim snagama odlučujemo što je najbolje za životinju. Čuvalica je tu da pruži sigurnost svog doma, ali i svoju ljubav. Ona je most između starog i novog života svake napuštene mace ili psa, osoba uz koju će naučiti da ljudi nisu uvijek zli. Ako želiš postati dio našeg tima i otvoriti svoj dom i srce napuštenoj životinji, javi nam se na mail <a href="mailto:udrugareasamobor@gmail.com">udrugareasamobor@gmail.com</a> ili na 0913344884.
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<h2>Gdje i kako čuvamo naše štićenike?</h2>
			<p>
				Naši štićenici se nalaze na privremenom smještaju kod dobrih ljudi koji su im otvorili svoje domove i srca. Uvijek su nam potrebni privremeni udomitelji - ako želite postati jedan, javite se!
			</p>
			<p>
				Udruga Rea nije azil niti posjeduje sklonište, već ovisimo o čuvalicama. Također smo skupina od nekoliko volontera, što znači da ovo radimo svojevoljno i da nismo plaćeni.
			</p>
		</div>

		<div class="small-12 medium-6 columns">
			<h2>Zašto udruga Rea?</h2>
			<p>
				Udruga Rea je registrirana neprofitna nevladina organizacija, skupina volontera čiji je cilj udomljavanje napuštenih pasa i mačaka grada Samobora i okolice, kao i edukacija i podizanje svijesti naših građana o tretiranju životinja.
			</p>
			<p>
				Psi i mace pod skrbi Udruge Rea udomljavaju se kao kućni ljubimci ljubiteljima životinja, uz potpisivanje ugovora o udomljavanju, provjeru uvjeta te obaveznu kastraciju/sterilizaciju životinje. Stalan boravak na dvorištu ili ulici (za mace odnosno na lancu ili u boksu za pse) ne dolazi u obzir; važno nam je da naši štićenici postanu članovi svoje zauvijek obitelji.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">
			<h2>Kako se financiramo?</h2>
			<p>
				Udruga Rea financira se isključivo donacijama građana, koje <a href="/doniraj/">možete uplatiti</a> na naš račun u Samoborskoj banci!
			</p>
		</div>

		<div class="small-12 medium-6 columns">
			<h2>Javite nam se</h2>
			<p>
				Za sva pitanja možete nam se obratiti u inbox, broj telefona ili na mail udrugareasamobor@gmail.com
			</p>
		</div>
	</div>

	<div class="row spacer">
		<div class="columns">
			<h2 class="text-center">Želiš primati naš superkul newsletter?</h2>
			<form action="//udrugarea.us14.list-manage.com/subscribe/post?u=34a9717d987c427e4dcd5051a&amp;id=6159b9e1d1" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
				<div class="row">
					<div class="small-12 columns">
						<label for="mce-EMAIL">Email
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</label>
					</div>
					<div class="small-12 medium-6 columns">
						<label for="mce-FNAME">Ime
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
						</label>
					</div>
					<div class="small-12 medium-6 columns">
						<label for="mce-LNAME">Prezime
							<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
						</label>
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_34a9717d987c427e4dcd5051a_6159b9e1d1" tabindex="-1" value=""></div>

					<div class="columns">
						<input type="submit" value="Pretplati se" name="subscribe" id="mc-embedded-subscribe" class="expanded button">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
