---
title: Kontakt
---
<section class="kontakt">
	<div class="expanded row title">
		<div class="columns">
			<h2 class="text-center">Kontakt</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>
				Ukoliko želiš udomiti našeg štićenika slobodno nam se javi putem kontakt forme. Također, za sva pitanja stojimo na raspolaganju.
			</p>
		</div>

		<div class="columns">
			<form action="https://formspree.io/developer.udrugarea@gmail.com" method="POST" data-abide novalidate>
				<div class="row">
					<div class="medium-6 columns">
						<label>
							Ime
							<input type="text" name="name" required>
							<span class="form-error">
								Ime je obavezno, molimo te da ga napišeš.
							</span>
						</label>
					</div>
					<div class="medium-6 columns">
						<label>
							Email
							<input type="email" name="_replyto" required>
							<span class="form-error">
								Email je obavezan, molimo te da ga napišeš.
							</span>
						</label>
					</div>
					<div class="medium-12 columns">
						<label>
							Poruka
							<textarea required></textarea>
							<span class="form-error">
								Poruka je obavezna, molimo te da ju napišeš.
							</span>
						</label>
					</div>
				</div>
				<input type="submit" value="Send" class="button">
				<input type="hidden" name="_subject" value="Kontakt forma sa weba" />
				<input type="text" name="_gotcha" style="display:none" />
			</form>
			<div data-abide-error class="alert callout" style="display: none;">
				<p><i class="fi-alert"></i> Ups, probaj ispočetka.</p>
			</div>
		</div>
	</div>
</section>
