---
title: Udruga Rea | O Nama
---
<section class="o-nama">
	<div class="row">
		<div class="columns">
			<h2>O Nama</h2>
			<p>Udruga Rea je registrirana neprofitna nevladina organizacija, skupina volontera čiji je cilj udomljavanje napuštenih pasa i mačaka grada Samobora i okolice, kao i edukacija i podizanje svijesti naših građana o tretiranju životinja.</p>

			<p>Psi i mace pod skrbi Udruge Rea udomljavaju se kao kućni ljubimci ljubiteljima životinja, uz potpisivanje ugovora o udomljavanju, provjeru uvjeta te obaveznu kastraciju/sterilizaciju životinje. Stalan boravak na dvorištu ili ulici (za mace odnosno na lancu ili u boksu za pse) ne dolazi u obzir; važno nam je da naši štićenici postanu članovi svoje zauvijek obitelji.</p>

			<h3>Gdje i kako čuvamo naše štićenike?</h3>
			<p>Naši štićenici se nalaze na privremenom smještaju kod dobrih ljudi koji su im otvorili svoje domove i srca te u Veterinarskoj stanici Samobor, s kojom blisko surađujemo. Uvijek su nam potrebni privremeni udomitelji - ako želite postati jedan, javite se!</p>

			<p>Udruga Rea nije azil niti posjeduje sklonište, već ovisimo o čuvalicama. Također smo skupina od nekoliko volontera, što znači da ovo radimo svojevoljno i da nismo plaćeni.</p>

			<h3>Kako se financiramo?</h3>
			<p>Udruga Rea financira se isključivo donacijama građana, koje možete uplatiti na naš račun u Samoborskoj banci!</p>
		</div>
	</div>
</section>
